/* Normal */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(54, 54, 54);
}
li{
    margin-left: 30px;
}
.title{
    /* color: rgb(39, 168, 155); */
    color: rgb(0, 132, 150);
    /* color: rgb(255, 230, 92); */
    margin-bottom: 8px;
}

/* Navbar */
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(44, 44, 44);
    color: white;;
    padding: 15px;
    margin-bottom: 20px;
}
.Navbar_items{
    width: 18%;
    display: flex;
    justify-content: space-around;
}
._item{
    color: wheat;

    text-decoration: none;
    font-size: 30px;
    padding: 0 15px;

    border-left: 3px solid wheat;
}
._item:hover{
    color: rgb(139, 139, 139);
    transition: 0.4s;
}

/* Resume */
.Resume{
    width: 650px;
    margin: 0 auto 30px auto;
    padding: 25px;

    color: wheat;
    font-size: 18px;

    border: 3px solid  rgb(44, 44, 44);
    border-radius: 180px;

    display: grid;
    row-gap: 10px;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "img name"
    "contact obj"
    "skills ed"
    "act exp";
}
.Resume_img{
    grid-area: img;

    width: 250px;
    border-radius: 150px;  
}
.Resume_name{
    grid-area: name;

    font-size: 62px;
    padding: 40px 0 0 0;

    /* color: rgb(161, 48, 48); */
    /* color: rgb(255, 230, 92); */
    color: white;
}
.Resume_contact{
    font-family: 'Noto Sans JP', sans-serif;
    
    grid-area: contact;
    padding-top: 30px;
}
.Resume_objtive{
    font-family: 'Noto Sans JP', sans-serif;

    grid-area: obj;
}
.Resume_skills{
    font-family: 'Noto Sans JP', sans-serif;

    grid-area: skills;
    position: relative;
    top: -40px;
}
.Resume_education{
    font-family: 'Noto Sans JP', sans-serif;

    grid-area: ed;

    padding-top: 30px;
}
.Resume_activities{
    font-family: 'Noto Sans JP', sans-serif;

    grid-area: act;

    padding-top: 20px;
}
.Resume_exp{
    font-family: 'Noto Sans JP', sans-serif;

    grid-area: exp;
}
.icon{
    width: 20px;
    margin-right: 10px;
}

/* Portfolio */
.Port_button{
    position: fixed;
    right: 40px;
    bottom: 50px;
}
#butToTop{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: bolder;

    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 700px;

    box-shadow: 4px 4px 0px 0px rgb(201, 179, 108);
}
#butToTop:hover{
    background-color: rgba(255, 235, 205, 0.788);
    transition: 0.3s;
}
#butToTop:active{
    position: relative;
    bottom: -4px;
    box-shadow: none;
}

.explan{
    font-family: 'Noto Sans JP', sans-serif;

    color: white;
    font-size: 20px;

    margin-bottom: 10px;
}
.Assignments , .Practice , .Projects{
    width: 1000px;
    margin: 0 auto;
}
.Assignments > h2 , .Practice > h2 , .Projects > h2{
    color: rgb(0, 132, 150);
    font-size: 40px;

    margin-bottom: 25px;
}
video{
    display: block;

    margin-bottom: 50px;

    border-radius: 50px;
}
video:focus{
    outline: none;
}